.message-box{
    max-width: 80%;
    padding: 8px;
    align-self: flex-start;
    background: #eeeeee;
    border-radius: 1rem;
    border-bottom-left-radius: 0px;
    * {
        margin: 0;
    }
}

.own-text{
    align-self: flex-end;
    background: #eeeeff;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 0px;
}

.message-info{
    font-size: small;
    font-weight: 100;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}